.body-center {
  // margin: 20px;
}

.table>thead {
  background-color: #b20b63 !important;
  position: relative;
  font-size: 1.1rem;
  color: #fff !important;
  font-weight: 400!important;

}



td {
  color:#656275 !important;
  font-weight: 500;
}