
        .footer-container{
            background-color: #EEEDF2;
            height: 178px;
            width: 100%;
            font-size: 13px;
            color: #949494;
            font-weight: 500;
            padding: 10px;
            padding-top: 40px;
            margin-top: 30px;
            &__content-one{
                display: flex;
            }
            &__content-two{
                display: flex;
            }
            &--second-text{
                    margin-right: 20px;
            }
            &--third-text{

            }
        }

        @media (max-width:599px) {
            .footer-img{
                display: none;
            }
        }