.landing-page {
  &--content {
    margin-top: -50px !important;
  }
  &__heading {
    font-weight: bold;
    line-height: 100%;
    font-size: 30px;
    margin: 10px 0px;
    margin-bottom: 20px;
  }
  &__sub-content {
    margin-top: 40px;
    margin-left: -10px;
    @media (max-width: 599px) {
      display: none !important;
      margin-top: 0px;
    }
  }
  &__sub-heading {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2px;
  }
  .landing-page-icon {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    &__img {
      margin-right: 1rem;
    }
    &__text {
      font-weight: normal;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.1px;
      word-spacing: 0px;
      color: #000;
    }
  }
  .btn-container {
    margin-top: 20px;
    @media (max-width: 599px) {
      text-align: center !important;
    }
    .btn-join {
      background-color: #ed5600 !important;
      width: 250px;
      max-width: 250px;
      min-width: 250px;
      outline: none;
      border: none;
      border-radius: 5px;
      color: #fff;
      padding: 7px;
      margin: 10px;
    }
    @media (max-wdith: 768px) {
      text-align: center;
      margin: 10px 0px;
      .btn-join {
        background-color: #e46f2c !important;
        width: 170px;
        outline: none;
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 7px;
        margin: 10px;
      }
    }
  }
  .ifram-container {
    max-width: 550px !important;
    margin-top: 85px;
    iframe {
      border-radius: 20px;
      border: none !important;
      outline: none !important;
      height: 250px !important;
      max-width: 450px !important;
      text-align: right;
      @media (max-width: 599px) {
        height: 220px !important;
        max-width: 100% !important;
      }
    }
    @media (max-width:600px) {
      margin-top: 0px !important;
    }
  }
  .carousel-container {
    max-width: 550px !important;
    background-color: #fcecca;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    
    border-radius: 20px;
    .carousel {
      height: 220px !important;
      width: 100%;
      @media (max-width: 599px) {
        height: 220px !important;
        max-width: 100% !important
      }
    }
  }
  &__form-cleaner {
    margin-top: 50px;
  }
  &__form-our-container {
    background-color: #fcecca !important;
    border-radius: 20px !important;
    padding: 12px !important;
    padding-top: 20px !important;
    margin-top: 15px;
    box-shadow: none !important;
    max-height: 150px !important;
    &__img {
    }
    &__rightside-content {
      align-items: center !important;
      justify-content: center !important;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    &__name {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 0px;
    }
    &__content-text {
      text-overflow: ellipsis;
      font-family: "Times New Roman", Times, serif;
      font-family: Amazon Ember;
      font-weight: 800;
      font-size: 15px;
      overflow: hidden;
      text-align: left;
      @media (max-width:600px) {
        // font-size: 8px;
      }
    }
  }

  // Desktop screen scss
  &__desktop-container {
    min-width: 100%;
    background-color: #f6c575;
    @media (max-width: 599px) {
      background-color: #fff !important;
    }
    padding: 20px;
    .landing-img-container {
      text-align: center;
      img {
        width: 100%;
      }
      .landing-img {
        max-width: 500px;
      }
    }
  }
}
.landing-page-img {
  margin-top: 70px;
  img {
    width: 100%;
    height: auto;
    @media (min-width: 599px) {
      display: none !important;
    }
  }
}

// media quaries
@media (max-width: 600px) {
  .mobile-screen {
    display: none !important;
  }
}
@media (min-width:600px) {
  .desktop-screen{
    display: none;
  }
}
@media (min-width: 599px) and (max-width: 810px) {
  .landing-page-icon {
    &__img {
      margin-right: 0.5rem !important;
      img {
        height: 15px;
        width: 15px;
      }
    }
    &__text {
      font-size: 12px !important;
    }
  }
}

// desktop-screen
.logo-image-container {
  height: 200px;
  width: auto;
  .logo-image {
    height: 200px;
    max-width: 80%;
  }
}
.common-padding {
  padding: 20px 50px;
  @media (max-width: 600px) {
    padding: 20px 20px;
  }
}
.iframe-content {
  text-align: right;
  @media screen and (max-width: 601px) {
    text-align: left !important;
  }
}
